/* Customs here */

// Colors
$primary: #1aa179; //$teal-600
// $success: #f3fcea;

// Borders
// $border-radius: .8rem;


@import '/node_modules/bootstrap/scss/bootstrap.scss';

// Utilities
.rounded-4 {
  border-radius: .8rem;
}


// Custom
main.container {
  max-width: 480px; // Force every device to look like a phone
}

header small {
  font-size: 0.8rem;
}

.substances .card {
    background-color: $yellow-100;

    &:nth-child(odd) {
        background-color: $teal-100;
    }
}